<div class=post-content>
  <%= @post.title %>
  <%= @post.content %>
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  <% @post.comments.each do |comment| %>
    <%= comment.content %>
  <% end %>
</div>
